
        

        <!-- Footer Start -->
        <div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
            <div class="container py-5">
                <div class="row g-5">
                    <div class="col-lg-4 col-md-6">
                        <h5 class="text-white mb-4">TRT Conseil</h5>
                        <a class="btn btn-link text-white-50" href="#apropos">Apropos de nous</a>
                        <a class="btn btn-link text-white-50" href="{{path('app_contact')}}">Contacter Nous</a>
                        <a class="btn btn-link text-white-50" href="#services">Nos Services</a>
                        <a class="btn btn-link text-white-50" href="#clients">Nos clients</a>
                       
                    </div>
                    
                    <div class="col-lg-4 col-md-6">
                        <h5 class="text-white mb-4">Contact</h5>
                        <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>2, rue de l'aqueduc, 93100 Montreuil, FRANCE</p>
                        <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+33 7 49 98 67 96</p>
                        <p class="mb-2"><i class="fa fa-envelope me-3"></i>tshaukemulumba@yahoo.com</p>
                        <div class="d-flex pt-2">
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-light btn-social" href="https://www.facebook.com/Scrappy.network" target="_blank"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-light btn-social" href="https://www.youtube.com/channel/UCifGniXojsjlcEUF0QPjLwQ" target="_blank"><i class="fab fa-youtube"></i></a>
                            <a class="btn btn-outline-light btn-social" href="https://www.linkedin.com/in/salomon-tshauke-mulumba/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <h5 class="text-white mb-4">Nos offres</h5>
                        <p>Découvrez nos offres exclusives conçues pour répondre à vos besoins.</p>
                        <div class="position-relative mx-auto" style="max-width: 400px;">
                            <a class="btn btn-link text-white-50" href="#">Chef de cuisine</a>
                        <a class="btn btn-link text-white-50" href="#">Maitre d'hôtel</a>
                        <a class="btn btn-link text-white-50" href="#">Serveur</a>
                        <a class="btn btn-link text-white-50" href="#">Concierge</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="copyright">
                    <div class="row">
                        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                            &copy; <a class="border-bottom" href="#">TRT Conseil</a>, Tous droits réservés. 
							
							Conçu par <a class="border-bottom" href="https://github.com/stshauke/trt-conseil-tshauke-symfony.git" target="_blank">Salomon TSHAUKE MULUMBA</a>
                        </div>
                        <div class="col-md-6 text-center text-md-end">
                            <div class="footer-menu">
                                 <a href="{{path('home.index') }}" 
                                 {% if app.request.attributes.get('_route') == 'home.index' %} 
                                 class="active"{% endif %}>Accueil</a>

                                <a  href="{{ path('app_login') }}">Se connecter</a>
                                <a href="{{path('app_help')}}">Aide</a>
                                <a href="{{path('app_faqs')}}">FQAs</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>