{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<div
		class="container mt-5">
		<!-- Section: Design Block -->
		<section
			class="">
			<!-- Jumbotron -->
			<div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
				<div class="container">
					<div class="row gx-lg-5 align-items-center">
						<div class="col-lg-6 mb-5 mb-lg-0">
							<h1 class="my-5 display-3 fw-bold ls-tight">
								TRT Conseil
								<br/>
								<span class="text-primary">for your business</span>
							</h1>
							<p style="color: hsl(217, 10%, 50.8%)">
								Lorem ipsum dolor sit amet consectetur adipisicing elit.
																																		            Eveniet, itaque accusantium odio, soluta, corrupti aliquam
																																		            quibusdam tempora at cupiditate quis eum maiores libero
																																		            veritatis? Dicta facilis sint aliquid ipsum atque?
							</p>
						</div>

						<div class="col-lg-6 mb-5 mb-lg-0">
							<div class="card">
								<div class="card-body py-5 px-md-5">
									<form method="post">
										{% if error %}
											{# <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div> #}
											<div class="alert alert-danger">{{ 'Vos identifiants sont incorrects.'|trans }}</div>
										{% endif %}

										{% if app.user %}
											<div class="mb-3">
												You are logged in as
												{{ app.user.userIdentifier }},
												<a href="{{ path('app_logout') }}">Se déconnecter</a>
											</div>
										{% endif %}
										<!-- 2 column grid layout with text inputs for the first and last names -->
										<div class="row">
											<h1 class="h3 mb-3 font-weight-normal">Veuillez vous connecter</h1>
										</div>

										<!-- Email input -->
										<div class="form-outline mb-4">

											<label for="inputEmail">E-mail</label>
											<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>


										</div>

										<!-- Password input -->
										<div class="form-outline mb-4">
											<label for="inputPassword">Mot de passe</label>
											<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

											<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

										</div>

										
										<div class="row mb-4">								
											<div
												class="col">
												<!-- Simple link -->
												<a href="{{ path('app_register') }}">S'inscrire ?</a>
											</div>											
											<div
												class="col">
												<!-- Simple link -->
												<a href="{{ path('app_forgot_password_request') }}">Mot de passe oublié ?</a>
											</div>
										</div>
									<div class="row mb-4">
											<div
												class="col d-flex justify-content-start">
												<!-- Checkbox -->
												<div class="form-check">
													<input class="form-check-input" type="checkbox" value="" id="form2Example31" checked/>
													<label class="form-check-label" for="form2Example31">
														Se rappeler de moi
													</label>
												</div>
											</div>
										</div>

										<!-- Submit button -->
										<button type="submit" class="btn btn-primary btn-block mb-4">
											Se connecter
										</button>
										
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Jumbotron -->
		</section>
		<!-- Section: Design Block -->
	</div>

{% endblock %}
