{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<div
		class="container mt-5">


		<!-- Section: Design Block -->
		<section
			class="">
			<!-- Jumbotron -->
			<div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
				<div class="container">
					<div class="row gx-lg-5 align-items-center">
						

						<div class="col-lg-6 mb-5 mb-lg-0">
							<div class="card">
								<div class="card-body py-5 px-md-5">
									{{ form_errors(registrationForm) }}

									{{ form_start(registrationForm) }}


									<!-- 2 column grid layout with text inputs for the first and last names -->
									<div class="row">
										<div class="col-md-6 mb-4">
											<div class="form-outline">
											<label class="form-label mb-0" for="form3Example1">Nom</label>
												<input type="text" id="form3Example1" class="form-control"/>
												
											</div>
										</div>
										<div class="col-md-6 mb-4">
											<div class="form-outline">
											<label class="form-label mb-0" for="form3Example2">Prénom</label>
												<input type="text" id="form3Example2" class="form-control"/>
												
											</div>
										</div>
									</div>

									<!-- Email input -->
									<div class="form-outline mb-4">
										{{ form_row(registrationForm.email, { 'attr': {'class': 'form-control'}}) }}
									</div>

									<!-- Password input -->
									<div class="form-outline mb-4">
										{{ form_row(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
									</div>
									<div class="col-lg-6 mb-5 mb-lg-0">
																
									</div>



									<!-- Checkbox -->
									<div class="form-check d-flex justify-content-start mb-4">
										{{ form_row(registrationForm.agreeTerms, {'attr': {'class': 'form-check-input me-2'}}) }}
									</div>

									<!-- Submit button -->
									<button type="submit" class="btn btn-primary btn-block mb-4">
										S'enregistrer
									</button>


									{{ form_end(registrationForm) }}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Jumbotron -->
		</section>
		<!-- Section: Design Block -->

	</div>

{% endblock %}
