{% extends 'base.html.twig' %}
 
{% block title %}Annonce index{% endblock %}
 
{% block body %}
<style>
.checkbox-lg {
  width: 25px;
  height: 25px;
}
</style>
    <div class="container">
        <h2 class="text-center mt-5 mb-3">Liste des annonces</h2>
        <div class="card">
            
            <div class="card-header">
                        <div class="row justify-content-between">
                                         

                            <div class="col-sm-auto">
                                
                            </div>
                            <div class="col-sm-auto">
                                <form class="d-flex" role="search" id="searchForm">
                                    <div class="form-group">
                                        <input type="text" class="form-control me-2" placeholder="Recherche..." name="search" id="searchInput">
                                    </div>
                                    <button type="submit" class="btn btn-outline-success ml-2">
                                        <i class="fas fa-search"></i> <!-- Icône de recherche -->
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <tr>
                        <tr>
                            <th>Id</th>
                            <th>Recruteur</th>
                <th>Description Annonce</th>
                <th>Lieu Travail</th>
                <th>Date Annonce</th>
                <th>Status</th>                        
                        <th width="240px">Action</th>
                    </tr>
                     {% for annonce  in pagination %}
                    <tr>
                       <td>{{ annonce.id }}</td>
<td>{{ annonce.utilisateur.prenom }} {{ annonce.utilisateur.nom }}</td>
                        <td>{{ annonce.descriptionAnnonce }}</td>
                        <td>{{ annonce.lieuTravail }}</td>
                        <td>{{ annonce.dateAnnonce ? annonce.dateAnnonce|date('Y-m-d') : '' }}</td>
                        <td class="text-center">
                    <input type="checkbox" {% if annonce.status %}checked{% endif %} 
                    class="form-check-input checkbox-lg" data-user-id="{{ annonce.id }}">
                </td>
                       <td width="60px" class="text-center">
                            <form method="post" action="{{ path('app_annonce_delete', {'id': annonce.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet élément?');">
                                <a class="btn btn-outline-info" href="{{ path('app_annonce_show', {'id': annonce.id}) }}">
                                    <i class="fas fa-eye"></i> <!-- Icône pour afficher -->
                                </a>
                                
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ annonce.id) }}">
                                <button class="btn btn-outline-danger" type="submit">
                                    <i class="fas fa-trash-alt"></i> <!-- Icône pour supprimer -->
                                </button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                <div class="d-flex justify-content-center">
                        {# Affichage de la pagination générée par knp_paginator #}
                        {{ knp_pagination_render(pagination,'pagination.html.twig') }}
                    </div>
            </div>
        </div>
    </div>
 
{% endblock %}
