{% extends 'base.html.twig' %}

{% block title %}Annonce{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center mt-5 mb-5"></h2>
        <div class="card">
            <div class="card-header">
                <div class="text-center">
                    <h3 class="text-primary"> Ajout d'une nouvelle annonce:</h3>
                </div>
            </div>
            <div class="card-body">
                {{ form_start(form) }}
                <div class="row">
                    {% for field in form %}
                        {% if field.vars.name != '_token' %}
                            <div class="col-md-3 mb-3 label-column">
                                {{ form_label(field) }}
                            </div>
                            <div class="col-md-9 mb-3">
                                {{ form_widget(field) }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="card-footer">
                <div class="text-center">
                    <a href="{{ path('app_annonce_index') }}" class="btn btn-outline-secondary me-2">Retour à la liste</a>
                    <button class="btn btn-outline-success me-2">{{ button_label|default('Enregistrer') }}</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
