{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

{{ form_start(form) }}
    {{ form_row(form.nom) }}
    {{ form_row(form.prenom) }}
    {{ form_row(form.dateMission) }}

    <button type="submit">Enregistrer</button>
{{ form_end(form) }}






{% endblock %}
