{% extends 'base.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block body %}
 <div class="container">
               <h2 class="text-center mt-5 mb-1">Affichage des informations du recruteur numéro: 
	 <span class="text-success">{{ utilisateur.id }}</span></h2>
        <div class="card">
            <div class="card-header">
                <div class="text-center">
               
                </div>
            </div>
            <div class="card-body">

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ utilisateur.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ utilisateur.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ utilisateur.roles ? utilisateur.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ utilisateur.password }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ utilisateur.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ utilisateur.prenom }}</td>
            </tr>
            <tr>
                <th>DateCreation</th>
                <td>{{ utilisateur.dateCreation ? utilisateur.dateCreation|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ utilisateur.status ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>nomEntreprise</th>
                <td>{{profilRecruteur.nomEntreprise}}</td>
            </tr>
            <tr>
                <th>addresseEntreprise</th>
                <td>{{profilRecruteur.adresseEntreprise}}</td>
            </tr>
        </tbody>
    </table>
 <div class="card-footer">
              <div class="text-center">
                    <a href="{{ path('app_utilisateur_index') }}" class="btn btn-secondary me-2">Retour à la liste</a>
                    <a href="{{ path('app_utilisateur_edit', {'id': utilisateur.id}) }}" class="btn btn-primary">Edit</a>
                </div>
             </div>
</div>
             </div>   
                   
   </div>               
{% endblock %}
