{% extends 'base.html.twig' %}
 
{% block title %}Utilisateur{% endblock %}
 
{% block body %}
    <div class="container">
     <h2 class="text-center mt-5 mb-1">Affichage des informations du consultant numéro: 
	 <span class="text-success">{{ utilisateur.id }}</span></h2>
        <div class="card">
            <div class="card-header">
                <div class="text-center">
               
    
                </div>
            </div>
            <div class="card-body">
    <div class="row">
    <div class="col-sm-3">
        <b >ID:</b>
    </div>
    <div class="col-sm-9">
        <p>{{ utilisateur.id}}</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-3">
        <b >Email:</b>
    </div>
    <div class="col-sm-9">
        <p>{{ utilisateur.email }}</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-3">
        <b >Rôles:</b>
    </div>
    <div class="col-sm-9">
        <p>{{ utilisateur.roles ? utilisateur.roles|json_encode : '' }}</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-3">
        <b >Prénom:</b>
    </div>
    <div class="col-sm-9">
        <p>{{ utilisateur.prenom }}</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-3">
        <b >Nom:</b>
    </div>
    <div class="col-sm-9">
        <p>{{ utilisateur.nom }}</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-3">
        <b >Date de création:</b>
    </div>
    <div class="col-sm-9">
        <p>{{ utilisateur.dateCreation ? utilisateur.dateCreation|date('Y-m-d') : '' }}</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-3">
        <b >Compte validé:</b>
    </div>
    <div class="col-sm-9">
        <p>{{ utilisateur.status ? 'Yes' : 'No' }}</p>
    </div>
</div>
</div>

             <div class="card-footer">
              <div class="text-center">
                    <a href="{{ path('app_consultant_index') }}" class="btn btn-secondary me-2">Retour à la liste</a>
                    <a href="{{ path('app_consultant_edit', {'id': utilisateur.id}) }}" class="btn btn-primary">Edit</a>
                </div>
             </div>
        </div>
    </div>
{% endblock %}