{% extends 'base.html.twig' %}
 
{% block title %}candidat index{% endblock %}
 
{% block body %}
<style>
.checkbox-lg {
  width: 25px;
  height: 25px;
}
</style>
     <div class="container-xxl bg-white p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->




    <div class="container">
        <h2 class="text-center mt-5 mb-3">Liste des Candidats</h2>
        <div class="card">
            <div class="card-header">
                        <div class="row justify-content-between">
                            <div class="col-sm-auto">
                               
                            </div>
                            <div class="col-sm-auto">
                                <form class="d-flex" role="search" id="searchForm">
                                    <div class="form-group">
                                        <input type="text" class="form-control me-2" placeholder="Recherche..." name="search" id="searchInput">
                                    </div>
                                    <button type="submit" class="btn btn-outline-success ml-2">
                                        <i class="fas fa-search"></i> <!-- Icône de recherche -->
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
            <div class="card-body">

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>DateCreation</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for utilisateur in pagination %}
            <tr>
                <td>{{ utilisateur.id }}</td>
                <td>{{ utilisateur.email }}</td>
                <td>{{ utilisateur.roles ? utilisateur.roles|json_encode : '' }}</td>
                <td>{{ utilisateur.nom }}</td>
                <td>{{ utilisateur.prenom }}</td>
                <td>{{ utilisateur.dateCreation ? utilisateur.dateCreation|date('Y-m-d') : '' }}</td>
                <td class="text-center">
                    <input type="checkbox" {% if utilisateur.status %}checked{% endif %} 
                    class="form-check-input checkbox-lg" data-user-id="{{ utilisateur.id }}">
                </td>
                 <td width="110px" class="text-center">
                    {# <a href="{{ path('app_candidat_show', {'id': utilisateur.id}) }}">show</a>
                    <a href="{{ path('app_candidat_edit', {'id': utilisateur.id}) }}">edit</a> #}
                    <form method="post" action="{{ path('app_candidat_delete', {'id': utilisateur.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet élément?');">
                            <a class="btn btn-outline-info" href="{{ path('app_candidat_show', {'id': utilisateur.id}) }}">
                                <i class="fas fa-eye"></i> <!-- Icône pour afficher -->
                            </a>
                           
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ utilisateur.id) }}">
                            <button class="btn btn-outline-danger" type="submit">
                                <i class="fas fa-trash-alt"></i> <!-- Icône pour supprimer -->
                            </button>
                        </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="d-flex justify-content-center">
                        {# Affichage de la pagination générée par knp_paginator #}
                        {{ knp_pagination_render(pagination,'pagination.html.twig') }}
                    </div>
            </div>
        </div>
    </div>

 {% block javascripts %}
    <script>
        document.querySelectorAll('.checkbox-lg').forEach(function(checkbox) {
            checkbox.addEventListener('change', function() {
                var userId = this.getAttribute('data-user-id');
                var isChecked = this.checked;

                // Envoi de la requête AJAX
                var xhr = new XMLHttpRequest();
                xhr.open('POST', '{{ path('update_status', {'id': ':id'}) }}'.replace(':id', userId), true);
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.onload = function() {
                    if (xhr.status === 200) {
                        console.log('Statut mis à jour avec succès');
                    } else {
                        console.error('Erreur lors de la mise à jour du statut');
                    }
                };
                xhr.send(JSON.stringify({ status: isChecked }));
            });
        });
    </script>
{% endblock %}


{% endblock %}