{# {% extends 'base.html.twig' %}

{% block title %}Candidature index{% endblock %}

{% block body %}
    <h1>Candidature index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Approuver</th>
                <th>DateApprobation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for candidature in candidatures %}
            <tr>
                <td>{{ candidature.id }}</td>
                <td>{{ candidature.approuver ? 'Yes' : 'No' }}</td>
                <td>{{ candidature.dateApprobation ? candidature.dateApprobation|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_candidature_show', {'id': candidature.id}) }}">show</a>
                    <a href="{{ path('app_candidature_edit', {'id': candidature.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_candidature_new') }}">Create new</a>
{% endblock %} #}

{% extends 'base.html.twig' %}
 
{% block title %}candidature index{% endblock %}
 
{% block body %}
    <div class="container">
        <h2 class="text-center mt-5 mb-3">Liste des candidatures</h2>
        <div class="card">
            <div class="card-header">
                        <div class="row justify-content-between">

                            <div class="col-sm-auto">
                                <a class="btn btn-outline-primary" href="{{ path('app_candidature_new') }}">
                                    <i class="fas fa-plus"></i> <!-- Icône pour créer un nouveau module -->
                                </a>
                            </div>
                            <div class="col-sm-auto">
                                <form class="d-flex" role="search" id="searchForm">
                                    <div class="form-group">
                                        <input type="text" class="form-control me-2" placeholder="Recherche..." name="search" id="searchInput">
                                    </div>
                                    <button type="submit" class="btn btn-outline-success ml-2">
                                        <i class="fas fa-search"></i> <!-- Icône de recherche -->
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <tr>
                        <tr>
                            <th>Id</th>
                            <th>Candidat</th>
                <th>Date candidature</th>
                <th>Approbation</th>                        
                        <th width="240px">Action</th>
                    </tr>
                     {% for candidature  in pagination %}
                    <tr>
                        <td>{{ candidature.id }}</td>
                        <td>{{ candidature.utilisateur.prenom }} {{ candidature.utilisateur.nom }}</td>
                        <td>{{ candidature.dateApprobation ? candidature.dateApprobation|date('Y-m-d') : '' }}</td>
                <td>{{ candidature.approuver ? 'Oui' : 'Non' }}</td>
                
                        <td>
                            <form method="post" action="{{ path('app_candidature_delete', {'id': candidature.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet élément?');">
                                <a class="btn btn-outline-info" href="{{ path('app_candidature_show', {'id': candidature.id}) }}">
                                    <i class="fas fa-eye"></i> <!-- Icône pour afficher -->
                                </a>
                                <a class="btn btn-outline-success" href="{{ path('app_candidature_edit', {'id': candidature.id}) }}">
                                    <i class="fas fa-edit"></i> <!-- Icône pour éditer -->
                                </a>
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ candidature.id) }}">
                                <button class="btn btn-outline-danger" type="submit">
                                    <i class="fas fa-trash-alt"></i> <!-- Icône pour supprimer -->
                                </button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                <div class="d-flex justify-content-center">
                        {# Affichage de la pagination générée par knp_paginator #}
                        {{ knp_pagination_render(pagination,'pagination.html.twig') }}
                    </div>
            </div>
        </div>
    </div>
 
{% endblock %}
